body { 
    font-family: "Lucida Console", "Courier New", monospace;
    padding: 0;
    color: #1a1a1a;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; 
    background-color: #dceae6;
    color: #143132;
}

.nav-container {
    display: flex;
}

.logo-container img {
    width: 100px;
}


.nav-item a { 
    font-family: "Lucida Console", "Courier New", monospace;
    color: #000000;
    text-decoration: none;
    padding: 15px;
}

.featured-photo img { 
    width: 100%;
}

.projects, .skills, .autobiography { 
    font-family: "Lucida Console", "Courier New", monospace;
    padding: 30px;
    text-align: center;
}

.project-grid { 
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.project-item { 
    width: 500px; 
    background-color: #f4f4f4;
    border: 1px solid #ddd; 
    text-align: center; 
}

.project-item img { 
    height: 100%;
    width: 100%;
  }

.skill-grid {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.skill-item { 
    width: 500px;
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
}

.skill-item img { 
    height: 100%;
    width: 100%;
  }

  

.autobiography { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.biography { 
    width: 800px;
    text-align: center;
}

.biography img {
    height: 100%;
    width: 100%;
  }

footer { 
    color: #143132;
    padding: 20px;
    text-align: left;
    flex-direction: column;
}

footer .footer-content {
    display: flex;
    align-items: center;
}

footer .footer-logo img {
    width: 80px;
    margin-right: 15px;
}

.footer-bottom { 
    text-align: center;
}



